<div class="main_container">
    <div class="card">
        <div class="logo_box mx-auto text-center pt-4 pb-5">
            <img src="assets/images/logo.png" class="img-fluid">
        </div>
        <!-- Sign-in form start -->
        <form class="p-0" *ngIf="currDiv == 'login'">
            <div class="form_inner px-5 pb-2">
                <h2 class="pb-5 ">
                    {{'login_to_your_account' | translate}}
                </h2>
                <div class="form-group select_box animate__animated animate__fadeInUp ">
                    <label>{{'select_country' | translate}}</label>
                    <div class="input_box d-flex align-items-center">
                        <ng-select placeholder="{{'select_country' | translate}}" id="inlineFormSelectPref"
                            name="countryCode">
                            <ng-option *ngFor="let country of countries" [value]="country.callingCodes[0]">
                                {{country.name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="form-group animate__animated animate__fadeInUp ">
                    <label>{{'phone_number' | translate}}</label>
                    <div class="input_box d-flex align-items-center">
                        <input type="tel" class="form-control" placeholder="{{'enter_phone_number' | translate}}">
                    </div>
                </div>
            </div>

            <button class="btn btn-lg rounded-0 mt-5 w-100" type="button" (click)="ShowDiv('verification')">
                {{'continue' | translate}}
            </button>
        </form>
        <!-- Sign-in form end -->

        <!--verfiction form start -->
        <form *ngIf="currDiv == 'verification'">
            <div class="form_inner px-5 pb-2">
                <div class="d-flex align-items-start">
                    <div class="backButton">
                        <a (click)="ShowDiv('login')">
                            <i class="material-symbols-rounded">
                                keyboard_arrow_left
                            </i>
                        </a>
                    </div>

                    <h2 class="pb-5" style="font-size: 20px;">
                        <span innerHTML="{{'enter_verification_code_send_on_given_phone_number' | translate}}"></span>
                        <small class="mx-2">+1 987 654 3210</small>
                    </h2>
                </div>

                <div class="form-group animate__animated animate__fadeInUp ">
                    <label>{{'verification_code' | translate}}</label>
                    <div class="input_box d-flex align-items-center">
                        <input type="number" class="form-control"
                            placeholder="{{'enter_verification_code' | translate}}">
                    </div>
                </div>

                <h3 class="d-flex pt-2 animate__animated animate__fadeInUp">
                    01:35 min
                    <span class="end">{{'resend' | translate}}</span>
                </h3>
            </div>

            <button class="btn btn-lg rounded-0 mt-5 w-100" type="submit" (click)="home()">
                {{'continue' | translate}}
            </button>
        </form>
        <!--verfiction form end -->
    </div>
</div>