<div class="body_wrapper">
    <div class="container-fluid">
        <div class="order_container">
            <div class="order active1 animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Table 6
                            <span class="end">8:49</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start" id="rating_active_4">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                </div>
            </div>

            <div class="order active2 animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Table 2
                            <span class="end">5:12</span>
                        </h2>
                    </div>
                    <div class="item">
                        <h3 class="text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Table 7
                            <span class="end">1:33</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start order_done">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>

                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner order_done">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Counter 1
                            <span class="end">8:49</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Cheese Lasagne</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Ice Cream</h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Table 8
                            <span class="end">8:49</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Table 5
                            <span class="end">5:12</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header ">
                        <h2 class="d-flex">
                            Table 2
                            <span class="end">1:33</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start order_done">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>

                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Table 5
                            <span class="end">5:12</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header ">
                        <h2 class="d-flex">
                            Table 2
                            <span class="end">1:33</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start order_done">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>

                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__fadeInUp">
                <div class="order_inner">
                    <div class="order_header">
                        <h2 class="d-flex">
                            Counter 3
                            <span class="end">8:49</span>
                        </h2>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>Cheese Lasagne</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item ">
                        <h3 class="text-start">1</h3>
                        <h4>Ice Cream</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>