.order-section {
    .order-row {
        background: var(--bg-color);

        .scroll-x {
            width: 100%;
            overflow: hidden;
            overflow-x: auto;
            white-space: nowrap;

            .order {
                display: inline-block;
                background: var(--bg-secondary);
                transition: all 0.4s;
                cursor: pointer;
                padding: 10px 5px;
                min-width: 90px;
                min-height: 40px;

                h2 {
                    margin: 0;
                    text-align: center;
                    font-size: .9rem;
                    font-weight: 400;
                    color: var(--text-light);

                    span {
                        color: var(--text-white);
                        min-width: fit-content;
                    }
                }

                &.active {
                    background: var(--primary);

                    h2 {
                        color: var(--text-white);
                    }
                }
            }
        }

        h5 {
            min-width: 40px;
            width: 40px;
            height: 40px;
            font-size: 2.0rem;
            font-weight: 500;
            background: var(--bg-secondary);
            color: var(--text-white);
            line-height: normal;
            margin: 0;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                margin: auto;
                display: block;
            }
        }
    }
}


.tableRow {
    overflow: hidden;
    overflow-x: auto;

    h5 {
        margin: 0;
        background: #ffffff11 !important;
        font-size: 0.85rem;
        color: var(--primary);
    }

    form {
        .form_inner {
            .form-group {
                h2 {
                    margin: 0;
                    color: var(--text-white);
                    font-weight: 400;
                    font-size: 1.05rem;
                    padding-bottom: 6px;
                }

                h3 {
                    margin: 0;
                    color: var(--text-dark);
                    font-size: .95rem;
                    font-weight: 400;
                }
            }

        }
    }
}

table.customeTable {
    min-width: 400px;

    thead {
        tr {
            th {
                padding: 7px 10px !important;
                font-size: 0.85rem;
                background: #ffffff11 !important;
                border: 0;

                &.itemName {
                    width: 160px;
                }
            }
        }
    }



    tbody tr {
        background: var(--bg-secondary) !important;
        --bs-table-bg: var(--bg-secondary) !important;
        border-bottom: 1.5px dashed #494b52 !important;

        td {
            padding: 15px 10px !important;

            &.itemName {
                width: 160px;
            }

            h3 {
                font-weight: 500;

                small {
                    font-size: 0.75rem;
                }

                p {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    min-width: fit-content;
                    margin: 0 auto;

                    i {
                        text-align: center;
                        display: block;
                        min-width: 17px;
                        height: 17px;
                        line-height: 17px;
                        font-size: 0.8rem;
                        font-weight: 700;
                        background: var(--primary);
                        color: var(--bg-secondary);
                        border-radius: 2px;
                        cursor: pointer;

                    }

                    strong {
                        padding: 0 4px;
                        min-width: 40px;
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: var(--text-white);
                        text-align: center;
                    }
                }
            }
        }
    }

}

.categoryRow {
    .category {
        width: fit-content;
        background: var(--bg-secondary);
        position: relative;
        width: 100%;
        height: 100px;
        border-radius: 18px;
        overflow: hidden;
        transition: all 0.5s;
        cursor: pointer;
        display: flex;
        align-items: center;

        .img_box {
            width: 100%;
            display: flex;
            height: 50px;

            img {
                max-height: 40px;
                margin: 0 auto 0;
                width: fit-content;
            }
        }

        h3 {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--text-white);
            opacity: 1;
            text-transform: unset;
            width: 100%;
            padding: 0 10px;
            text-align: center;
        }

        &.active {
            background: var(--primary);
        }

    }
}

.payment_info {
    padding-top: 30px;

    h2 {
        margin: 0;
        color: var(--text-white);
        font-size: 1rem;
        padding: 8px 15px;

        &.amountToPay {
            background: #ffffff11 !important;
        }
    }
}

.itemContainer { 

    .item_row {
        width: 100%;

        .item {
            position: relative;
            overflow: hidden;
            background: var(--bg-secondary);
            width: 100%;
            border-radius: 14px;
            height: 140px;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: calc(100% + 0px);
                background: linear-gradient(318deg, #09e96f 15%, rgba(125, 185, 232, 0) 100%);
                z-index: 2;
                opacity: 0;
                transition: all 0.5s;
            }

            .item_img {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: calc(100% + 100px);
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.555) 100%);
                    z-index: 99;
                }

            }

            .option {
                display: none !important;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 999;

                i {
                    color: var(--text-white);
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                p {
                    display: flex;
                    align-items: center;
                    font-size: 0.87rem;
                    font-weight: 500;
                    text-align: center;
                    width: calc(100% - 20px);
                    margin: 0 auto 10px !important;

                    span {
                        display: inline-block;
                        min-width: 33.33%;
                        max-width: 33.33%;
                        color: var(--text-white);
                        font-size: 1.5rem;
                        font-weight: 300;
                        line-height: normal;
                        position: relative;

                    }

                    strong {
                        min-width: 25px;
                        height: 25px;
                        background: var(--bg-white);
                        color: #38f075;
                        line-height: 25px;
                        border-radius: 50%;
                        font-size: .95rem;
                        font-weight: 600;

                        small {
                            min-width: 40px;
                            min-height: 40px;
                            text-align: center;
                            color: var(--text-white);
                            background: var(--primary);
                            font-size: 1.0rem;
                            border-radius: 50%;
                            display: block;
                            margin: 0 auto;
                            line-height: 40px;
                            font-weight: 500;
                            width: fit-content;
                        }
                    }
                }

            }

            .text_box {
                padding: 10px 9px;
                z-index: 99;
                position: relative;

                h2 {
                    margin: 0;
                    font-size: 1.35rem;
                    color: var(--text-white);
                    font-weight: 500;
                    padding-bottom: 7px;
                }

                h3 {
                    margin: 0;
                    color: var(--text-white);
                    font-size: 0.75rem;
                    font-weight: 400;

                    .foodType {
                        min-width: 22px;

                        img {
                            display: block;
                            width: 15px;
                            min-width: 15px;
                        }
                    }

                    span {
                        color: var(--text-white);
                        font-size: 0.6rem;
                        font-weight: 400;
                    }

                }
            }

            &.active {
                &::after {
                    opacity: 1;
                }

                .option {
                    display: flex !important;
                }

            }
        }
    }
}